<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Attentive System for Jitsi{% endblock %}

{% block content %}

    <div id="div_container_of_body_elements" class="row" >
        <div id="div_iframe_jitsi" class="container-fluid vw-100"></div>
        <!-- Jitsi runs here -->
    </div>

    {% include "webcam_popup.html" %}
    {% include "notification_popup.html" %}

    <script>
        $(document).ready(function () {
            toggle_activate_bootstrap() // Bootstrap
            init_config() // Init client_configuration.js
            
        })
    </script>

{% endblock %}
