<!DOCTYPE html>

<div id="id_div_rand_sign_recognition">
    <div class="row container-fluid py-4 d-flex justify-content-center">
        <div id="id_div_btn_start_rand_comparing" class="col-6">
            <button id="btn_start_rand_comparing" type="button" class="btn btn-outline-success btn-block">Start</button>
        </div>
        <div id="id_div_btn_stop_rand_comparing" class="col-6">
            <button id="btn_stop_rand_comparing" type="button" class="btn btn-outline-danger btn-block">Stop</button>
        </div>
    </div>
    <div id="id_div_results_sign_recognition" class="row container-fluid pb-1">
        <div class="row d-flex py-1 mx-1">
            <p>Please perform a </p>
            <p id="input_recog_requirement"></p>
            <input type="text" class="form-control input-sm" id="input_rand_sign_classification" value="" readonly>
        </div>
    </div>
</div>
