body {
    background-color: #2F2F2F;
}

label {
    color: #F2F3F4;
}

input {
    text-align: right;
}

.nav-pills .nav-link.active {
    background-color: #000000 !important;
}

a, p, .p-status {
    color: #FFFFFF
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#webcam-popup {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;
    width: 300px;
    height: 225px;
    background-color: #000000;
}
  
#webcam-popup video {
    width: 100%;
    height: 100%;
}

#close-webcam-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.notification-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    animation: slide-up 0.3s ease-in-out;
}

.notification-text > * {
    flex: 1;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.close-notification-btn {
    font-size: 20px;
    cursor: pointer;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
