body {
    background-color: #2F2F2F;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#webcam-popup {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;
    width: 300px;
    height: 225px;
    background-color: white;
    border: 1px solid black;
}
  
#webcam-popup video {
    width: 100%;
    height: 100%;
}

#close-webcam-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

label {
    color: #F2F3F4;
}

input {
    text-align: right;
}

.nav-pills .nav-link.active {
    background-color: #000000 !important;
}

a {
    color: #FFFFFF
}

p {
    color: #FFFFFF
}

.p-status {
    color: #F2F3F4
}