body {
    background-color: #2F2F2F;
}

label {
    color: #F2F3F4;
}

input {
    text-align: right;
}

.nav-pills .nav-link.active {
    background-color: #000000 !important;
}

a {
    color: #FFFFFF
}

.p-status {
    color: #F2F3F4
}